Different behaviour between BC and Java on X509v3 extensions value

I've notice a different behaviour between java.security.cert.CertificateFactory and org.bouncycastle.jcajce.provider.asymmetric.x509.CertificateFactory when resolving X509v3 extensions.

```java
byte[] certificate = load("certificate.crt.pem")

X509Certificate jdkCertificate =
  (X509Certificate)
    java.security.cert.CertificateFactory.getInstance("X.509")
      .generateCertificate(new ByteArrayInputStream(certificate));
X509Certificate bouncyCastleCertificate =
  (X509Certificate)
    new org.bouncycastle.jcajce.provider.asymmetric.x509.CertificateFactory()
      .engineGenerateCertificate(new ByteArrayInputStream(certificate));

byte[] jdkResult =
  jdkCertificate.getExtensionValue(OCSPObjectIdentifiers.id_pkix_ocsp_nocheck.getId());
byte[] bouncyCastleResult =
  bouncyCastleCertificate.getExtensionValue(
  OCSPObjectIdentifiers.id_pkix_ocsp_nocheck.getId());

Assertions.assertThat(jdkResult).isEqualTo(new byte[] {4, 0});
Assertions.assertThat(bouncyCastleResult).isEqualTo(new byte[] {4, 2, 5, 0});
```
Analysing the certificate with openssl return the following extensions section:
```
X509v3 extensions:
    X509v3 Extended Key Usage: critical
        OCSP Signing
    OCSP No Check: 
```

- Java version: `java version "15.0.2" 2021-01-19`
- openssl version: `OpenSSL 1.1.1f  31 Mar 2020`
- Bouncy castle versions: `org.bouncycastle:bcpkix-jdk15on:1.68` and `org.bouncycastle:bcprov-jdk15on:1.68`

I'm not able to understand what's happening there. Is it a "normal" diff ? Is it a bug in BC or in the JDK ?

Can you provide the certificate?

Yes: [certificate.txt](https://github.com/bcgit/bc-java/files/6131181/certificate.txt)


Okay, so a dump shows:
  703:d=5  hl=2 l=   9 prim: OBJECT            :OCSP No Check
  714:d=5  hl=2 l=   2 prim: OCTET STRING      [HEX DUMP]:0500

which is what you would expect from RFC 6960 section 4.2.2.2.1. So the BC provider is giving you the most accurate description of what is going on. I'm not really sure what the JVM version is doing here, I'd guess it's doing some special handling, possibly treating ASN.1 NULL as a Java null rather than an actual value (we've found it's best to keep Java null to mean absent, but I can see how people would think they were equivalent). They have changed the extension value though, the octet string being returned is clearly not what is in the certificate.

Closed as not a BC bug.