X.509 support with PQC algorithms: DN limitations?

BC is part of the IETF-Hackathon to verify the X.509 compliance with PQC algorithms [1]. I was trying to get my library [2] and its X.509 PQC support to interoperate with BC. During the testing, the following could be observed:

* using an X.509 certificate with ML-DSA44 generated by [2] where the DN contains 5 components (CN, OU, O, ST, C) failed to be validated by BC using the verifier [3].

* using an X.509 certificate that is identical to the previous except that now it only contains 2 DN components (CN, OU) was successfully validated with BC using the verifier [3].

Considering that all else is identical, it seems that BC does not like the additional DN components. Note, OpenSSL parses both certificates just fine (`openssl x509 -inform DER -in <FILE>`) when disregarding the missing cryptographic support.

Are there any known DN limitations in BC?

Attached you find the passing and failing certificates
[lc_certificates.zip](https://github.com/user-attachments/files/18102440/lc_certificates.zip)

Thanks

[1] https://github.com/IETF-Hackathon/pqc-certificates

[2] https://github.com/smuellerDD/leancrypto

[3] https://github.com/IETF-Hackathon/pqc-certificates/blob/master/providers/bc/verify_r3.sh

I'm surprised OpenSSL validates the 5 component one. The signature is not valid.

The issue is the use of "+". This has the effect of jamming all the components into the first RDN. 

In the certificate these are stored as:

```
        Set
            Sequence
                ObjectIdentifier(2.5.4.3)
                UTF8String(leancrypto test CA)
            Sequence
                ObjectIdentifier(2.5.4.10)
                UTF8String(leancrypto)
            Sequence
                ObjectIdentifier(2.5.4.6)
                UTF8String(DE)
            Sequence
                ObjectIdentifier(2.5.4.8)
                UTF8String(Saxony)
            Sequence
                ObjectIdentifier(2.5.4.11)
                UTF8String(leancrypto test OU)
```

Which is fine, but for ASN.1 DER encoding SETs are sorted according to the magnitude of the encodings (padded with zeroes) so when the signature is verified by BC (so converted to DER), the sorting produces:

```
        Set
            Sequence
                ObjectIdentifier(2.5.4.6)
                UTF8String(DE)
            Sequence
                ObjectIdentifier(2.5.4.8)
                UTF8String(Saxony)
            Sequence
                ObjectIdentifier(2.5.4.10)
                UTF8String(leancrypto)
            Sequence
                ObjectIdentifier(2.5.4.3)
                UTF8String(leancrypto test CA)
            Sequence
                ObjectIdentifier(2.5.4.11)
                UTF8String(leancrypto test OU)

```
which, in this case, is not so fine as the failing signature appears to have been calculated over a definite-length encoding (so a straight encoding of the first dump) rather than the DER one.

If I disable DER encoding and use definite-length instead both certificates verify. For the record, I don't really understand why a RelativeDistinguishedName is a SET, but it is and we get to pay for it...

I'd recommend avoiding "+" wherever possible.

Am Sonntag, 15. Dezember 2024, 06:06:07 Mitteleuropäische Normalzeit schrieb 
David Hook:

Hi David,

Thank you very much for your insight.

> 
> The issue is the use of "+". This has the effect of jamming all the
> components into the first RDN.

Could I ask you to which "+" you are referring to?
> 
> In the certificate these are stored as:
> 
> ```
>         Set
>             Sequence
>                 ObjectIdentifier(2.5.4.3)
>                 UTF8String(leancrypto test CA)
>             Sequence
>                 ObjectIdentifier(2.5.4.10)
>                 UTF8String(leancrypto)
>             Sequence
>                 ObjectIdentifier(2.5.4.6)
>                 UTF8String(DE)
>             Sequence
>                 ObjectIdentifier(2.5.4.8)
>                 UTF8String(Saxony)
>             Sequence
>                 ObjectIdentifier(2.5.4.11)
>                 UTF8String(leancrypto test OU)
> ```
> 
> Which is fine, but for ASN.1 DER encoding SETs are sorted according to the
> magnitude of the encodings (padded with zeroes) so when the signature is
> verified by BC (so converted to DER), the sorting produces:
> 
> ```
>         Set
>             Sequence
>                 ObjectIdentifier(2.5.4.6)
>                 UTF8String(DE)
>             Sequence
>                 ObjectIdentifier(2.5.4.8)
>                 UTF8String(Saxony)
>             Sequence
>                 ObjectIdentifier(2.5.4.10)
>                 UTF8String(leancrypto)
>             Sequence
>                 ObjectIdentifier(2.5.4.3)
>                 UTF8String(leancrypto test CA)
>             Sequence
>                 ObjectIdentifier(2.5.4.11)
>                 UTF8String(leancrypto test OU)
> 
> ```

Ok, I was not aware that there is any sorting defined. In ASN.1 the SET  
encoding rule defines that the sorting is defined "in an order chosen by the 
sender", according to X.690 section 8.11.2. Sction 10.3 definiting the DER 
rules, the SET ordering is defined as "...shall appear in an order determined 
by their tags as specified in 8.6...". Furthermore, I see no tags in RFC5280 
associated with the RDN that could refer to an ordering. Thus, if I could ask 
you for the ordering definition specification, that would be great.

Anyhow, when I order the data as you mention, BC does not validate the 
certificate with 5 components in the SET.

Furthermore, when I still limit it to 2 components, BC validates the 
following,

  128:d=3  hl=2 l=  54 cons: SET               
  130:d=4  hl=2 l=  25 cons: SEQUENCE          
  132:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  137:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test CA
  157:d=4  hl=2 l=  25 cons: SEQUENCE          
  159:d=5  hl=2 l=   3 prim: OBJECT            :organizationalUnitName
  164:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test OU

but does not validate this (with all else equal):

   38:d=3  hl=2 l=  54 cons: SET               
   40:d=4  hl=2 l=  25 cons: SEQUENCE          
   42:d=5  hl=2 l=   3 prim: OBJECT            :commonName
   47:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test OU
   67:d=4  hl=2 l=  25 cons: SEQUENCE          
   69:d=5  hl=2 l=   3 prim: OBJECT            :commonName
   74:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test CA

This would mean that BC validates a sequence that is not according to the 
mentioned order, but does not validate if it is according to the order. Could 
I ask you to help me understand what exactly is not correct.


> which, in this case, is not so fine as the failing signature appears to have
> been calculated over a definite-length encoding (so a straight encoding of
> the first dump) rather than the DER one.

The signature is calculated over the full DER encoded tbsCertificate after it 
has been generated according to RFC5280 section 4.1.1.3. So, yes, the order of 
the RDN components would matter for the signature as my library calculates it. 
> 
> If I disable DER encoding

Could I ask you what you mean with that?

> and use definite-length instead both certificates
> verify. For the record, I don't really understand why a
> RelativeDistinguishedName is a SET, but it is and we get to pay for it...
> 
> I'd recommend avoiding "+" wherever possible.

Can I ask you what you mean by that?


Thanks a lot
Stephan




Sorry, I was assuming you were entering the RDN components in text - the "+" comes from the fact they're all in the same SET.

The ASN.1 defs (from RFC 5280):

```
   Name ::= CHOICE { -- only one possibility for now --
     rdnSequence  RDNSequence }

   RDNSequence ::= SEQUENCE OF RelativeDistinguishedName

   RelativeDistinguishedName ::=
     SET SIZE (1..MAX) OF AttributeTypeAndValue

   AttributeTypeAndValue ::= SEQUENCE {
     type     AttributeType,
     value    AttributeValue }

   AttributeType ::= OBJECT IDENTIFIER

   AttributeValue ::= ANY -- DEFINED BY AttributeType
```
Usually in a NAME it's "CN=AU, O=Legion of the Bouncy Castle" in the string representation, when that's done there will be two SETs in the sequence with one AttributeTypeAndValue structure in each. In a string representation "CN=AU + O=Legion of the Bouncy Castle" produces one SET with two AttributeTypeAndValue structures, so the NAME is a single RDN. 

With  "Section 10.3 definition the DER rules, the SET ordering is defined as '...shall appear in an order determined
by their tags as specified in 8.6...'". While there's an actual "TAG" format in ASN.1, the DER encoding rules are a "tag-length-value" format, in the context of 10.3 that is the tag they are talking about, not the ASN.1 syntax element. The ordered set is based on:

```
300906035504060c024445
300d06035504080c065361786f6e79
3011060355040a0c0a6c65616e63727970746f
301906035504030c126c65616e63727970746f2074657374204341
3019060355040b0c126c65616e63727970746f2074657374204f55
```
Note this is also based on assuming each encoding is padded with zeroes so all the "integers" are the same length. At any rate this is why even for the 2 element case when you swap the order, the certificate no longer validates because the DER encoding rules produce a different encoding.

As a general rule you'll find a lot of variation in how people manage multiple AttributeTypeAndValue, but there's only one correct way to do it. For this reason, where possible I would avoid the use of multiple AttributeTypeAndValue structures in a single RDN unless you really have to do it (and while it's a guess, I'm guessing in this case you do not, in the past when we've run into this it's always been a government agency and it's always been where using correct DER really matters).

I'm not trying to say this makes sense, but those are the rules and it's how it's done. In the light of this you may enjoy reading [Peter Guttman's  X.509 Style Guide](https://www.cs.auckland.ac.nz/~pgut001/pubs/x509guide.txt), it was written around 25 years ago, just as relevant today (in some ways sadly) as it was then...

Thank you very much for your help and your insights. I am by no means an expert nor am I any kind of government extension that needs to comply with anything. :-) 

I just want to get things interoperating - even though I do not need to do that, because my goal is to provide X.509 PQC support for confined environments like UEFI secure boot and the like. Thus, in theory my implementation only needs to be playing with itself.

That said, the solution was to have only AVA in the RDN set, but then have multiple RDNs in the sequence that forms RDNSequence. With this change, BC validates my certificates with even 5 entries. Peter Guttman describes that in his document (thanks for the link). Why on earth is RFC5280 defining the RDN as a SET allowing multiple entries when in the end only one is allowed?

Anyhow, just for the records, the following works with BC:

```
  36:d=2  hl=2 l= 109 cons: SEQUENCE          
   38:d=3  hl=2 l=  11 cons: SET               
   40:d=4  hl=2 l=   9 cons: SEQUENCE          
   42:d=5  hl=2 l=   3 prim: OBJECT            :commonName
   47:d=5  hl=2 l=   2 prim: UTF8STRING        :DE
   51:d=3  hl=2 l=  15 cons: SET               
   53:d=4  hl=2 l=  13 cons: SEQUENCE          
   55:d=5  hl=2 l=   3 prim: OBJECT            :commonName
   60:d=5  hl=2 l=   6 prim: UTF8STRING        :Saxony
   68:d=3  hl=2 l=  19 cons: SET               
   70:d=4  hl=2 l=  17 cons: SEQUENCE          
   72:d=5  hl=2 l=   3 prim: OBJECT            :commonName
   77:d=5  hl=2 l=  10 prim: UTF8STRING        :leancrypto
   89:d=3  hl=2 l=  27 cons: SET               
   91:d=4  hl=2 l=  25 cons: SEQUENCE          
   93:d=5  hl=2 l=   3 prim: OBJECT            :commonName
   98:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test OU
  118:d=3  hl=2 l=  27 cons: SET               
  120:d=4  hl=2 l=  25 cons: SEQUENCE          
  122:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  127:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test CA

```

See the individual SETs around the components. The following does NOT work as described in Peter's document:

```
  103:d=3  hl=2 l= 101 cons: SET               
  105:d=4  hl=2 l=   9 cons: SEQUENCE          
  107:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  112:d=5  hl=2 l=   2 prim: UTF8STRING        :DE
  116:d=4  hl=2 l=  13 cons: SEQUENCE          
  118:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  123:d=5  hl=2 l=   6 prim: UTF8STRING        :Saxony
  131:d=4  hl=2 l=  17 cons: SEQUENCE          
  133:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  138:d=5  hl=2 l=  10 prim: UTF8STRING        :leancrypto
  150:d=4  hl=2 l=  25 cons: SEQUENCE          
  152:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  157:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test OU
  177:d=4  hl=2 l=  27 cons: SEQUENCE          
  179:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  184:d=5  hl=2 l=  20 prim: UTF8STRING        :leancrypto test int2
``` 

Thanks again and apologies for wasting BC bandwidth on this.

Side note, after also fixing the object types, the following structure is also validated by BC:

```
   36:d=2  hl=2 l= 109 cons: SEQUENCE          
   38:d=3  hl=2 l=  11 cons: SET               
   40:d=4  hl=2 l=   9 cons: SEQUENCE          
   42:d=5  hl=2 l=   3 prim: OBJECT            :countryName
   47:d=5  hl=2 l=   2 prim: UTF8STRING        :DE
   51:d=3  hl=2 l=  15 cons: SET               
   53:d=4  hl=2 l=  13 cons: SEQUENCE          
   55:d=5  hl=2 l=   3 prim: OBJECT            :stateOrProvinceName
   60:d=5  hl=2 l=   6 prim: UTF8STRING        :Saxony
   68:d=3  hl=2 l=  19 cons: SET               
   70:d=4  hl=2 l=  17 cons: SEQUENCE          
   72:d=5  hl=2 l=   3 prim: OBJECT            :organizationName
   77:d=5  hl=2 l=  10 prim: UTF8STRING        :leancrypto
   89:d=3  hl=2 l=  27 cons: SET               
   91:d=4  hl=2 l=  25 cons: SEQUENCE          
   93:d=5  hl=2 l=   3 prim: OBJECT            :organizationalUnitName
   98:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test OU
  118:d=3  hl=2 l=  27 cons: SET               
  120:d=4  hl=2 l=  25 cons: SEQUENCE          
  122:d=5  hl=2 l=   3 prim: OBJECT            :commonName
  127:d=5  hl=2 l=  18 prim: UTF8STRING        :leancrypto test CA
```