Signature validation failed if DataToBeSigned contains Extension with Critical field explicitly set to FALSE

BC bug in the org.bouncycastle.asn1.x509.Extension code.

We failed to validate OCSP Response signature with OCSP signing certificate.
After investigation we realized, that BouncyCastle provider (1.61) returns invalid DataToBeSigned bytes.

The initial problem is in org.bouncycastle.asn1.x509.Extension code.

The problem occurs if OCSP response contains an Extension, which is non-critical, but extension field _critical_ is explicitly set to FALSE (it is not ommited).

Extension field _critical_ is an optional field (default is FALSE).

Extension constructor stores only one boolean (that extension is non-critical or critical).
Therefore, method toASN1Primitive() does not know if field _critical_ initially was set or not,
and returns object without field _critical_ at all.

Since, Extension is a part of the DataToBeSigned of the OCSP response, signature validation failed.

Creating Extension form "30 12 06 09 2b 06 01 05 05 07 30 01 09 01 01 00 04 02 05 00" (bytes in HEX)
will produce "30 0f 06 09 2b 06 01 05 05 07 30 01 09 04 02 05 00", despite it should produce the same bytes.





Section 4.2.1 of RFC 6960 says "The value for signature SHALL be computed on the hash of the DER
   encoding of ResponseData. " As false is the DEFAULT value for the encoding of Extension this means that the field should be left out.

Please ask whoever is producing these invalid signatures to stop. 

Respectfully disagree - where did you get that a value that equals the default must be always omitted from encoding? It *may* be omitted, but it doesn't *have* to be omitted. 


For DER it has to be omitted. The Distinguished Encoding Rules are designed to always produce only one unique encoding for a given structure, hence sets must be sorted, everything must be direct length encoded, and fields with specified defaults are not encoded if their fields have the default value (this is really a result of the principal that the shortest form of encoding must always be used, but it is stated explicitly in X 690, section 11.5). With BER this is not the case, but the flexibility that BER offers in this case is definitely not desirable. 

Cancel
On Sun, 12 May 2019, 19:22 Legion of the Bouncy Castle Inc, <
notifications@github.com> wrote:

> For DER it has to be omitted. The Distinguished Encoding Rules are
> designed to always produce only one unique encoding for a given structure,
> hence sets must be sorted, everything must be direct length encoded, and
> fields with specified defaults are not encoded if their fields have the
> default value (this is really a result of the principal that the shortest
> form of encoding must always be used, but it is stated explicitly in X 690,
> section 11.5). With BER this is not the case, but the flexibility that BER
> offers in this case is definitely not desirable.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/bcgit/bc-java/issues/515#issuecomment-491617705>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/ACBCPJCOTKXH5BOMFEO73S3PVBN7ZANCNFSM4HLTVSNA>
> .
>


I interpret the uniqueness of the DER encoding differently: if a field with default value is **not** present - **add** the default value before encoding. 

But since it's been more than two decades since I wrote a serious DER codec - if you're certain if your interpretation, I concede the point. 

Yes, this is correct, presenting a BER encoded object is not invalid. Unfortunately the report indicates the signature is calculated on the BER encoding not the DER encoding, hence the failure.

Ah, I see. I concur - the *encoding* must but contain the default value, and the code that includes DER encoding fur the default is incorrect. 

Initially I thought that the encoder refused to encode a structure if the value that has a default was explicitly provided. That would've been the encoder's fault. 