Clear Signature having no ending tails tags -----END PGP SIGNED MESSAGE-----

Hello Team,

We are using BC APIs for clear signature use case, and we found the document is signed but the ending tail tags are missing:

-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

When you send an encrypted email with ProtonMail, your message is automatically protected with PGP encryption. What is PGP? This article explains the tech behind our security promise.

**### NO ENDING TAGS ####**

-----BEGIN PGP SIGNATURE-----
Version: BCPG v1.64

iHcEAREIAB8FAmCY/HEYHFNlcnZlcjFTaWduS2V5IHNpZ24ga2V5AAoJENE0ewDQ
ghkcHsgBAKMTtOkKTtxEcOCu4h10RUcKrTiYvkp4Bjfl71QuOwQsAP9nHUpVinht
V/6mHFKuz3nVMfBmKX1V0txXij5PrdGQxg==
=F/Rp
-----END PGP SIGNATURE-----

Is it an expected behavior or it's a bug that the stream is not flushing the chunks of data?

Although when I verify the same document its working fine. Need help


@dghgit can you please help

There's no ending tag - see RFC 4880, Section 7. https://datatracker.ietf.org/doc/html/rfc4880#section-7 There has never been one (a bit odd I know, but that's the way they did it...)