Default CMS algorithm for SHA2 digests should be rsaEncryption?

Is the [change](https://github.com/bcgit/bc-java/commit/cc4e694c6a9037dfe107f2fa1d9b9249082aa174) a due implementation of RFC5754/RFC3370 or reverting it would actually be more compliant?

Reading [RFC5754 section 3.2](https://datatracker.ietf.org/doc/html/rfc5754#section-3.2)  :

> [RFC3370], Section 3.2, specifies the conventions for RSA with SHA-1 public key algorithm identifiers, parameters, public keys, and signature values. RSA with SHA2 algorithms uses the same conventions for these public key algorithm identifiers, parameters, public keys, and signature values.

and linked [RFC3370](https://datatracker.ietf.org/doc/html/rfc3370#section-3.2) :

> CMS implementations that include the RSA signature algorithm MUST support the rsaEncryption signature value algorithm identifier, and CMS implementations MAY support RSA signature value algorithm identifiers that specify both the RSA signature algorithm and the message digest algorithm.

seems to mean that rsaEncryption MUST be supported by the implementations, while sha*WithRSAEncryption MAY be supported (the same conclusion is reached in a [discussion](https://github.com/openssl/openssl/issues/11413#issuecomment-604543360) ).

With this in mind, it seems appropriate to revert the change linked and default to rsaEncryption for all sha*WithRSAEncryption algorithm identifiers.

rsaEncryption is supported, but in line with the later RFC the newer signature algorithms are produced for the later digests. The implementation is compliant with the RFCs available and also works with implementations where (sadly perhaps) people are not fully aware of the history of CMS.

SignerInfoGeneratorBuilder allows for passing in of a custom CMSSignatureEncryptionAlgorithmFinder where people need to deal with legacy applications unable to deal with the shift specified in RFC 5754. I note this has been used in the referred to issue.
