RFC4998 implementation error ?

It seems that the current implementation of RFC4998 (Evidence Record Syntax) is incorrect.
I maybe wrong in the way I use the ERSArchiveTimeStampGenerator class, but from what I see the reduced hash tree contains the hashes of all data elements that are provided. The RFC however states that only selected hash values should be included (cf. [section 4.2](https://datatracker.ietf.org/doc/html/rfc4998#section-4.2)) .
Similarly, I can only obtain a single ERSEvidenceRecord for a given input of n data elements, whereas it should be a n to n mapping with all evidence records sharing the same TimestampToken but containing different reduced hashtrees.
Any thoughts on this ?

On the first one, if I provide the following data objects (each of which constituting a data group), I would expect to get 4 evidence records in return: "hello", "world", "alice", "bob".
Considering the attached diagram:
-  The first ER, generated from the perspective of "alice", would have a reduced hashtree containing h2 and h34 ;
- The second ER, generated from the perspective of "hello", would have a RHT containing h1 and h34 ;
- The third ER, generated from the perspective of "world", would have a RHT containing h12 and h4 ;
- The fourth ER, generated from the perspective of "bob", would have a RHT containing h12 and h3.

All ERs would however share the same timestamp token, generated over h1234.
![Untitled Diagram drawio](https://user-images.githubusercontent.com/1922044/173367734-88afa5bb-3353-47a9-b5be-eaa01e6c6b6f.png)

As a side note, the implementation I provided a few years ago (see https://github.com/bcgit/bc-java/pull/343) relied on a TreeMap for the RHT generation, whereas the current implementation relies on a pure binary tree approach.

I'm not sure I understand. This may be confusion about the API, but following the ASN.1 the above would produce a single ER. The timeStamp itself appears inside ArchiveTimeStamp which is a field of the ER. A single data group would produce a partial hash tree with a single node in it representing the entire group due to the calculation mechanism in Section 4.2 part 3.

I think the issue is the RFC uses "group" in two contexts, both in terms of the archive time stamp construction, but also in terms of the data to be included in a hash tree being either the hashes of single documents or a single hash computed from a **group** of documents which are, usually, someway related. The type ERSDataGroup, define in the BC API, refers specifically to the last one - a group of documents to be stored under a single hash.

The other form of grouping, the collection of hashes into a partial hash tree, will follow naturally from the use of ERSData, in adding the objects. This will still produce a single ArchiveTimeStamp with a reduced hash tree covered by a single time stamp.

Does that make sense?

@raubv0gel, my understanding is that the RHT is data-group dependent (cf. Figures 2 and 3 under section 4.2). As there is only a single RHT under and ArchiveTimeStamp, an ER should therefore be associated to a single data group.

@dghgit, I might indeed be confused by these two different uses of "group". To give a better example, I tried to mimic what is provided in section 4.2 (the attached txt file contains the ASN.1 structure encoded in base64).
I gave the following input:
- An ERSDataGroup (d1) containing a single ERSByteData ("hello");
- An ERSDataGroup (d2) containing 3 ERSByteData ("bouncy", "castle" and "rocks");
- An ERSDataGroup (d3) containing a single ERSByteData ("world").

The ER I obtain has a single RHT containing 3 partial hashtrees, totalling 5 hashes:
- pht1 contains h1 = H(d1) ;
- pht2 contains h3 = H(d3) ;
- pht3 contains h2b, h2a, h2c (respectively H("castle"), H("bouncy") and H("rocks")).

What I would expect instead is a set of 3 ERs:
- The first one covering d1, with a RHT containing 2 partial hashtrees: (h1, h2) and (h3), where h2 = H(h2b + h2a + h2c) ;
- The second one covering d2, with a RHT containing 3 partial hashtrees: (h2b, h2a, h2c), (h1) and (h3);
- The third one covering d3, with a RHT containing 2 partial hashtrees (h3) and (h12).

Does it make it a bit clearer ?

The test:
https://github.com/bcgit/bc-java/blob/master/pkix/src/test/java/org/bouncycastle/tsp/test/ERSTest.java
emulates section 4.2.

Section 4.2 is only about reduced hash trees though - it provides examples of what could go in a single ER.

You can certainly do what you want, but you would need a separate ERSArchveTimeStampGenerator for each data group, which would allow you to create a separate ERSEvidenceRecord for each one.

It seems like the RFC does not define the algorithm for reduced hash tree generation quite correctly ([section 4.2](https://datatracker.ietf.org/doc/html/rfc4998#section-4.2)). It starts with

>  1.  Generate hash value h of the data object, using hash algorithm H of the hash tree.

Actually, one have to generate a reduced hash tree of each data object. After, all reduced hash trees will be stored in the reducedHashtree attribute of a single evidence record.

Furthermore, in [section 4.3](https://datatracker.ietf.org/doc/html/rfc4998#section-4.3) the RFC says that verification is

> 1.  Calculate hash value h of the data object with hash algorithm H given in field digestAlgorithm of the Archive Timestamp.
> 2.  Search for hash value h in the **first list** (partialHashtree) of reducedHashtree.  **If not present, terminate verification process with negative result.**
> 3. …
> 4. …

This seems not to be enough: To fail verification one has to check that h is not contained in any partialHashtree, not in the **first list** only. In the BC implementation one can actually see that `org.bouncycastle.tsp.ers.ERSArchiveTimeStamp#checkContainsHashValue` iterates over the all reducedHashTrees.

Note: It seems that implementation of timestamp renewal and hash-tree Renewal is missing in the BC API. See #1173.

> That said there is nothing to stop you from producing an ER per document, but you wouldn't use a reduced hash tree for this as it makes no sense - there's only a single document, so the root of the Merkle tree would be the document hash. It would be the simplest way to implement the standard though.

I would say that it enables cost optimization: if you need to produce single ERs for millions of documents, the cost of timestamp tokens may be prohibitive. However, if you group them in order to share a single timestamp token, it becomes very interesting.

@veebee

> I would say that it enables cost optimization

That’s the point! 🙂 E. g., a qualified time stamp from D-Trust TSA is expensive – about 0.5 €. Image one have to time stamp thousands of documents per day … 

It’s computationally expensive to rebuild the whole hash tree (or “just” the root hash value) from the data object hash values only. One has to calculate _each_ inner node (hash value).

The purpose of reduced hash trees is that one can computationally inexpensively calculate the root hash value while only having one data object hash value `h` (and therefore prove that `h` is contained in the ArchiveTimeStamp). Much fewer inner nodes (hash values) have to be calculated, because they are already contained in the reduced hash tree.

ArchiveTimeStamp from unit test `org.bouncycastle.tsp.test.ERSTest#testBasicBuildEvidenceRecord`:

![grafik](https://user-images.githubusercontent.com/9824146/175031119-f9eabd4b-a361-4019-ad45-7552ac0a17ed.png)

Again, only a hash list is stored (there are 3 hash values in partial hash tree 0, because `h3Docs` is a `ERSDataGroup` that contains 3 data objects). This is _not_ the reduced hash tree illustrated in RFC 4998, section 4.2.

Am I wrong?


Rereading the RFC - if you look at it from the point of optimization, 3 reduced hash trees would make sense in this case. In this case you'd be describing 3 paths for calculating each data group. I'll admit in my case when I was reading this I thought it was more about reducing space and that the examples were a succession of decompositions.

Reduced hash tree currently being stored by ERSTest.testBasicBuild() is:

DER Sequence
    DER Sequence
        DER Octet String[32] 
        DER Octet String[32] 
        DER Octet String[32] 
    DER Sequence
        DER Octet String[32] 
    DER Sequence
        DER Octet String[32] 

Which is the same as the structure given at the end of section 4.2.

I think we can add support for the expanded method without breaking anything which has been done already.


### Big misunderstanding

I have reread the RFC 4998 and conclude that I have misunderstood a fundamental thing. To clarify I give some quotes from the RFC.

### From RFC

> Archived `data object`: A data unit that is archived.

> Archived `data object group`: A set of two or more of `data objects`, which for some reason belong together.

> `Archive Timestamp`: A timestamp and typically lists of hash values, which allow the verification of the existence of _several_ `data objects` at a certain time.

Actually, an `Archive Timestamp` contains a reduced hash tree for a _single_ `data object` (or `data object group`) only. The corresponding ASN.1 clearly says it does not contain multiple reduced hash trees – only one or no reduced hash tree is allowed. I guess, what is meant by “which allow the verification of the existence of _several_ `data objects`” is that the _time stamp_ in the `Archive Timestamp` can cover multiple `data object`s (or `data object group`s).

> `Evidence record`: Collection of evidence compiled for one or more given archived `data objects` over time.

This seem to be unclear, too. The RFC later writes “An Evidence Record is a unit of data, which can be used to prove the existence of _an_ archived `data object` or an archived `data object group` at a certain time.” An `Evidence record` can contain multiple `Archive Timestamp`s, but it’s referred to a _single_ `data object` (or `data object group`) only. The 2nd `Archive Timestamp`, 3rd `Archive Timestamp`, … are referring to the 1th `Archive Timestamp` only (it covers the case of time stamp renewal)!

### Conclusion

If I’m not wrong (again):

- An `Archive Timestamp` covers a _single_ `data object` (or `data object group`) only.
- Therefore an `Evidence record` covers a _single_ `data object` (or `data object group`) only.
- Thus – _I guess the most important conclusion_ – an `Evidence record` is just a prof for a _single_ `data object` (or `data object group`), it’s _not_ a data structure to store _multiple_ `data object`s (or `data object group`s). One could also put it this way: `Evidence record` is _not_ a data structure to _store_ evidences (in the sense of an evidence archive), it’s a data structure to _exchange/give_ evidences (in the sense of using it in a lawsuit).

**Hence, I guess @veebee was/is absolutely right!**

**Therefore, I guess we have to rethink the BC implementation!** At least the `ERSArchiveTimeStampGenerator` seems not to be correct.


> **Hence, I guess @veebee was/is absolutely right!**

Of course, I'm always right :-)

Anyways, if needed I'd be happy to rework on the implementation I made a while ago.

Section 4.2 Generation  

 3.  For each data group containing more than one document, its
       respective document hashes are binary sorted in ascending order,
       concatenated, and hashed.  The hash values are the complete
       output from the hash algorithm, i.e., leading zeros are not
       removed, with the most significant bit first.

It's clearly saying multiple data groups are allowed.

The BSI XML data is also described as holding 3 data objects, one of which is a group, although the odd thing about this is the group is stored as a hash only and is actually the described by the first partial hash tree - so (strictly speaking) it's not necessary to store the group hash as the use of the sequence to connect the two hashes in the group.

At this point I actually expect that the authors meant:

"We get 3 reduced hash trees rht1 = SEQ(SEQ(h2abc, h1), SEQ(h3)), rht2 = SEQ(SEQ(h2b, h2c, h2a), SEQ(h1), SEQ(h3)), rht3 = SEQ(SEQ(h12, h3))."

to read

"We get 3 partial hash trees rht1 = SEQ(SEQ(h2abc, h1), SEQ(h3)), rht2 = SEQ(SEQ(h2b, h2c, h2a), SEQ(h1), SEQ(h3)), rht3 = SEQ(SEQ(h12, h3))."

As this would provide partial hash trees for validating each object/group. Of course if you just store rht2 you can still validate everything. rht1 and rht2 are actually redundant - in this sense "reduced hash tree" is kind of correct (so any of would do) although by their own definition rht3 would be wrong as it's assuming the (h2b, h2c, h2a) and h1 are a single group (which is why I suspect the sentence is talking about partial hash trees instead).

For the root of rht2 to equal the root of rht1 a left first traversal is required, which is why we do things the way we do. We don't store the redundant information as these things are designed to deal with potentially large data sets and adding the redundant information  could lead to an explosion in the number of partial hash trees required as opposed to a steady linear increase in size in the reduced hash tree that is stored.

In section 4.2, the RFC does also say the reduced hash tree can just be a list of hashes - in our case you would construct that by putting all your data into a single group.


I think, because the RFC is too informal, there is so much confusion …

Section [4.2 Generation](https://datatracker.ietf.org/doc/html/rfc4998#section-4.2), 1. – 5.  of part 1, describes how to generate the hash tree. It does not tell us to store the hash tree. It’s a preparation for the following steps, 1. – 4. of part 2, that describes how to generate a reduced hash tree for a _single_ selected `data object`. As said above, an `ArchiveTimeStamp` by it’s ASN.1 structure can store a _single_ reduced hash tree only.

> Note there are no restrictions on the quantity or length of hash-
   value lists.  Also note that it is profitable but not required to
   build hash trees and reduce them.  An Archive Timestamp may consist
   only of one list of hash-values and a timestamp or only a timestamp
   with no hash value lists.

This is, of course, wired. Why does the RFC calls it **reducedHashtree** in

 ``` 
ArchiveTimeStamp ::= SEQUENCE {
     digestAlgorithm [0] AlgorithmIdentifier OPTIONAL,
     attributes      [1] Attributes OPTIONAL,
     reducedHashtree [2] SEQUENCE OF PartialHashtree OPTIONAL,
     timeStamp       ContentInfo}

     PartialHashtree ::= SEQUENCE OF OCTET STRING
```

if one can store “only one list of hash-values” instead of a `reducedHashtree `? Furthermore it has to be formally a list of lists of hash values. Moreover, how does a validator know if he has to interpret  `reducedHashtree ` as a reduced hash tree or a simple list of hash values?

Take a look at

![grafik](https://user-images.githubusercontent.com/9824146/175777265-76567bb9-d4e1-4be8-82c7-ab213a1e1419.png)

with it’s reduced hash trees (rht) (without loss of generality according to the binary order)

```
rht(h1) = SEQ( SEQ(h1,h2), SEQ(h34), SEQ(h5678) )
rht(h2) = rht(h1)
rht(h3) = SEQ( SEQ(h3,h4), SEQ(h12), SEQ(h5678) )
rht(h4) = rht(h3)
rht(h5) = SEQ( SEQ(h5,h6), SEQ(h78), SEQ(h1234) )
rht(h6) = rht(h5)
rht(h7) = SEQ( SEQ(h7,h8), SEQ(h56), SEQ(h1234) )
rht(h8) = rht(h7)
``` 

Obviously, there is no reduced hash tree that contains all `hi` (`i = 1, …, 8`). The case `rht1 = SEQ(SEQ(h2abc, h1), SEQ(h3))` above only contains all hash values, because it’s “special” case. Thus, in general there is no reduced hash tree containing all data hash values.

Furthermore, section [4.3 Verification](https://datatracker.ietf.org/doc/html/rfc4998#section-4.3), states

> An Archive Timestamp shall prove that a data object existed at a
   certain time, given by timestamp.  This can be verified as follows:

>    1.  Calculate hash value h of the data object with hash algorithm H
       given in field digestAlgorithm of the Archive Timestamp.

>    2.  Search for hash value h in the **first list (partialHashtree)** of
       **reducedHashtree**.  If **not present**, terminate verification process
       with **negative result**.

As one can see for example, in the first list of `rht1 = SEQ(SEQ(h2abc, h1), SEQ(h3))`, i. e. `SEQ(h2abc, h1)`, there is no `h3`. Thus if we test for `h3`, we get **negative result**. This is a contradiction if one assumes that an `ArchiveTimeStamp` contains all `data object` hash values! Btw. BC’s [void checkContainsHashValue(final byte[] hash, final DigestCalculator digCalc)](https://github.com/bcgit/bc-java/blob/f74c7a36a26ea9b3bd2d2e31ae438866a4202ef8/pkix/src/main/java/org/bouncycastle/tsp/ers/ERSArchiveTimeStamp.java#L172) iterates over _all_ `partialHashtree`s whereas 2. clearly stats to look at the **first list (partialHashtree)** only.

**Again, I conclude as above: An `ArchiveTimeStamp` is for a _single_ `data object` only. Hence an `Evidence Record` is for a _single_ `data object` only. Thus an `Evidence Record` is for exchange only (not for storage).**

@veebee, did you find the conversation with T. Gondrom? Does it clarify if an `ArchiveTimeStamp` is used for a single data or for all data? Maybe, I can try to contact T. Gondrom and talk to him in German …


> @veebee, did you find the conversation with T. Gondrom? Does it clarify if an ArchiveTimeStamp is used for a single data or for all data? Maybe, I can try to contact T. Gondrom and talk to him in German …

I'm afraid not. Seems I contacted him using my previous work email...
I will try to get some input from people who worked on the eIDAS long-term preservation scheme and the associated ETSI standards.


I think we need to reset this.

@veebee you are trying to say that the scenario described in Section 4.2 should produce 3 evidence records. Is that correct?



I've made some changes to correctly accommodate 4.3 section 2, which as expected led to multiple evidence records. ERSTest has been updated accordingly. The updates should be on github shortly and include timestamp and hash renewal.

Fortunately it's easy to split the old style evidence record if required to create correct new ones, so while the change to the API is not the best news, at least people won't have to get access to the original data if they need to update.

Let me know your thoughts.

Found an issue with sorting on larger data sets. Fix for that now pushed as well.

> I think we need to reset this.
> 
> @veebee you are trying to say that the scenario described in Section 4.2 should produce 3 evidence records. Is that correct? Actually looking back that's clearly the case.

Yep, absolutely.

I'll have a look later today.


Thanks, while you're at it would you check BinaryTreeRootCalculator.java I found an error in that which I believe I have fixed as well. As I mentioned to @raubv0gel I'd like to get my hands on any tests/test data I can. It's become quite obvious that "stressing" this particular code is quite important.

If it's any help, there is now a new beta 172b04 on https://downloads.bouncycastle.org/betas/ which has updated jars including the latest changes.

@raubv0gel : if it helps, have a look at https://github.com/veebee/bc-java/blob/master/pkix/src/main/java/org/bouncycastle/cms/EvidenceRecordGenerator.java 

Not really optimal, but it does the job.

@dghgit, I made some requests for test data - will keep you posted as soon as I have some.

In some ways what got me into this mess was worrying about large data sets...

So yes, if you can improve it sure, just keep in mind there's a "trick" to making things consistent, the algorithm in the RFC sorts the hashes at each level to maintain consistency with the timestamp It turns out this is really required as the "reduced" hash tree stored in the ArchiveTimeStamp has to have the object, or object group in the first node, that the particular archive time stamp represents. 

Contrary to what the RFC seems to suggest, it's actually easy to show that the reduced hash tree construction, where an item is injected in to the first partial hash tree will never work. Anyway, compressing a tree relies on what the value of the hash is as much as anything else as "over compressing" could change a hashes value and result in the root node calculation changing.

The example in question is from:


       +--------------------------------+
       | +-----------------+ +--------+ |
       | | +------+ +----+ | | +----+ | |
       | | | h2abc| | h1 | | | | h3 | | |
       | | +------+ +----+ | | +----+ | |
       | +-----------------+ +--------+ |

where (h2abc, h1) make up the first partial hash tree. The first problem is that it means anything hashing to h2abc will appear to be in the evidence record, something I suspect the authors never intended. The second problem is that if the number of nodes in the tree becomes greater than three you can't actually calculate a value of "h2abc" which will be correct for all ArchiveTimeStamps for the data set. The third problem is that if h2abc ends up in a first node for a "group" then by definition that group will never be recognized.

At the moment for simplicity I am just compressing nodes that contain groups which appear in the trailing section of the evidence record. I'm not sure how easy it is to reduce the nodes going up a level. The sorting and concatenation that takes place going up seems to make it impossible. The partial hash trees don't contain any depth information, and the idea of the reduced hash tree is simply compute over this and you'll get the same hash in the primary time stamp.

This isn't quite true if there are an odd number of nodes, as they will get folded higher up the tree, but it's probably only the node that is the tailing node that this applies to and even then you would need to mindful of the ordering.

Actually, I just found this, there's still something wrong:

   3.  Concatenate the hash values of the actual list (partialHashtree)
       of hash values in binary ascending order and calculate the hash
       value h' with algorithm H.  This hash value h' MUST become a
       member of the next higher list of hash values (from the next
       partialHashtree).  Continue step 3 until a root hash value is
       calculated.

What's been written out as the partial hash tree is still incorrect.

The partial hash tree is clearly about following a path to the root. You'd better leave this one to me - the parsing is still not quite right. Appreciate your patience.

I'll keep it short, for me it is already quite late: `List<ERSArchiveTimeStamp> generateArchiveTimeStamps(TimeStampResponse tspResponse)` results a list of `ERSArchiveTimeStamp`s that have only “weak” connection to its corresponding `ERSData` (only hash values in the first partial tree). For my use case it’s important that I have a “strong” connection. Is it a good idea to implement `Map<ERSData, ERSArchiveTimeStamp> generateArchiveTimeStampsMap(TimeStampResponse tspResponse)` that returns a map that connects an `ERSData` with its `ERSArchiveTimeStamp`? Finally I need to know which generated `ER` corresponds to which `data object` .

@dghgit

> The partial hash tree is clearly about following a path to the root. You'd better leave this one to me - the parsing is still not quite right. Appreciate your patience.

All right, I will wait. Thank you for working so hard!

Okay, finally... I think if you try it now the results should make more sense. New beta, 172b05 now up on https://www.bouncycastle.org/betas

I've also added a ERSEvidenceRecordStore and ERSEvidenceRecordSelector.

The basic idea is:

        Collection<ERSEvidenceRecord> recs = store.getMatches(new ERSEvidenceRecordSelector(h3Docs));

where collection will contain all records pertaining to h3Docs in the store. They need some further work, but are basically going.

Should appear on github shortly.

Nice test!

With the first one I get:

new byte[][]{
Hex.decode("05000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"),
Hex.decode("06000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"),
Hex.decode("07080000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"),
Hex.decode("01020304000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"),
Hex.decode("09000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"),
},

Which is what I'd expect - not so the tree is 0x05, 0x06 not 0x05,0x07. This is then combined with 0x07, 0x08, up another level the 0x01,0x02,0x03,0x04 branch is added in and then finally 0x09, which is the odd one out (not 0x08 as shown on the graph above). As @veebee mentioned there is also the option of adding some random data to deal with odd ones, but it's not necessary.

With the sorting, Section 4.2 section 3 says to sort. This actually makes sense in this case as it means that any hash tree will calculate to the same root for the same set of data, despite the order it's passed in at - this is a bit like the restriction around DER and ASN.1 Sets, you want the same data to come out with the same hash (usually).

Thanks!

While I know the need of sorting the hash values of the inner nodes of the hash tree and while I see the beauty of sorting the leafs before building up the hash tree, the [RFC 4.2. Generation](https://datatracker.ietf.org/doc/html/rfc4998#section-4.2) does not tell us to sort the `data object` hash values before building the tree (3. is according to `data object group`s, not groups of hash values). Look at the following image. The `data object` hash values (leafs) are not sorted:

![grafik](https://user-images.githubusercontent.com/9824146/176644958-e6a30d00-82e5-4b36-bfae-729f8bd9ba46.png)

The order of the leafs of course affects the hash values of the inner nodes, hence the root hash value. But I guess, even if different orders of leafs yield different `EvidenceRecord`s (because of different root hash values and different time stamps) this has no effect on validating these different `EvidenceRecord`s.

Otherwise the RFC notes 

> The lists of hash values are generated by reduction of an **ordered Merkle hash tree** [MER1980].

It’s not clear what is exactly meant by **ordered Merkle hash tree** (it’s not defined in [MER1980] if I’m not wrong).

This RFC is driving me crazy. 😵

Yes, on rereading it (which I'm also doing a lot...) it does not say you need to sort the leaves, just the hashes inside the group (missing definition of "ordered Merkle hash tree" aside). 

On this one I'm inclined to leave the sorting in place - there seems something really odd about producing a different timestamp value for the same data, dependent on the order it's added to the builder and it doesn't affect anyone's ability to validate the reduced hash-tree that's produced. It just means the timestamp produced is going to always match the timestamp a user would get if they sorted the data before adding it themselves.

@dghgit, that’s fine! I am convinced that the sorting is so good.

I think this one is now addressed. At least we're passing the test data #1216 as well as having a fairly extensive range of tests.