Possible bug in DefaultCMSSignatureEncryptionAlgorithmFinder for Russian GOST Algorithms

I'm Making TSA server with Russian GOST support (https://github.com/svkreml/krekerCaTsa ) and
I think that class org\bouncycastle\cms\DefaultCMSSignatureEncryptionAlgorithmFinder.findEncryptionAlgorithm returns wrong AlgorithmIdentifier. My TSP response do not validating by CryptoPro.

Patched version that works correctly for me:

    public AlgorithmIdentifier findEncryptionAlgorithm(AlgorithmIdentifier signatureAlgorithm) {
        // RFC3370 section 3.2 with RFC 5754 update
        if (RSA_PKCS1d5.contains(signatureAlgorithm.getAlgorithm())) {
            return new AlgorithmIdentifier(PKCSObjectIdentifiers.rsaEncryption, DERNull.INSTANCE);
        }
        // Russian GOST algorithms for Encryption 
        switch (signatureAlgorithm.getAlgorithm().getId()) {
            case "1.2.643.2.2.3":
                return new AlgorithmIdentifier(new ASN1ObjectIdentifier("1.2.643.2.2.19"), DERNull.INSTANCE);
            case "1.2.643.7.1.1.3.2":
                return new AlgorithmIdentifier(new ASN1ObjectIdentifier("1.2.643.7.1.1.1.1"), DERNull.INSTANCE);
            case "1.2.643.7.1.1.3.3":
                return new AlgorithmIdentifier(new ASN1ObjectIdentifier("1.2.643.7.1.1.1.2"), DERNull.INSTANCE);
        }
        return signatureAlgorithm;
    }

When getting 2001 gost from http://www.cryptopro.ru/tsp/tsp.srf

I'm getting in the file end,

          SEQUENCE (2 elem)
            OBJECT IDENTIFIER 1.2.643.2.2.19 
            NULL

 but with my server with BC, i'm getting (before patching)

          SEQUENCE (1 elem)
            OBJECT IDENTIFIER 1.2.643.2.2.3

with overriding this method all works correctly (for TSP, I dont know about other things)


Thanks for the tip. I've added the replacement algorithm IDs. This will appear in 1.64.