CMS for symmetric key encryption

We are developing an IoT solution. We need to encrypt messages from devices to the server (no TLS is available) using a simple algorithm. We thought to use AES. Devices can be equipped with a key.

To provide a standard a well known message format, can we use CMS/PKCS 7 messages to encrypt a payload with a symmetric ke?
Can we embed inside the message other info like IV, eventually a HMAC/MAC, ...? Compression?

I cannot find Bouncy Castle examples on how to create a CMS messages like this, only with symmetric key. It is one of the intended usage? I see only examples with certificates...

thanks

A bit late but EnvelopedData KEK supports this. It's described in section 6.2.3 of RFC 5652