pkcs#7 signature no longer is valid in BC 1.64

Hello,

A pkcs#7 signature file was valid in BC 1.51. SignatureInformation.verify() returned true.
In BC 1.64 and 1.65 the same method on the same file returns false.

I have examined the bouncy castle source code in both versions and have discovered what is likely a bug.
I have attached a minimal sample project. You only need gradle. 
A detailed description of the bug (including what you need to do to fix the bug) is contained in "bug report.docx".
(The signature file and signed document are located in "src\test\resources\de\vfst\epr")

[bouncy-castle-1_64_bug-demo-master.zip](https://github.com/bcgit/bc-java/files/4650330/bouncy-castle-1_64_bug-demo-master.zip)

Thanks in advance!

Yours,
Richard

Hi Richard, thanks for  the report and I appreciate all the work that went into this bug report as well. However, I am sorry to relay that the signature is invalid and what the application is seeing is the result of us fixing a bug, not introducing one.

Your analysis is correct that it has to do with the DER encoding of the signed attributes though. The failure arises because the signature was not calculated on the sorted value of the set. That this is required is detailed in Section 5.3 of RFC 5652.

Ideally you'd ask whoever is generating these signatures to stop generating invalid ones by correctly using DER encoding. Where that is not possible you might have noticed that SignerInformation has a protected constructor. An example of applying that can be found in NewSignedDataTest.java

https://github.com/bcgit/bc-java/blob/master/pkix/src/test/java/org/bouncycastle/cms/test/NewSignedDataTest.java

on line 1326. This will also show you how to make the invalid signature pass. 

I would not recommend using definite-length encoding except where you must. I am not aware of any direct exploits based on the malleability the non-use of DER introduces into the signature, however there have been a few ASN.1 encoding related exploits now and it is probably a question of "when" rather than "if" a known exploit will arise. Treat CMS data like this as an exception, anything that makes it easier to change input into a signature and still have it pass is not a feature.

Thank you very much for your feedback!