BouncyCastle accepts the incorrect GeneralizedTime value

BouncyCastle accepts the incorrect GeneralizedTime value.I'm using BouncyCastle version 1.78.
In RFC 5280, sections 5.1.2.4 (thisUpdate) and 4.1.2.5 (Validity - Definition of Time) specify only two formats for the release date of the CRL: UTCTime (YYMMDDHHMMSSZ) and GeneralizedTime (YYYYMMDDHHMMSSZ) in ASN.1 representation, which are 13 and 15 characters wide, respectively. However, wolfSSL accepts the thisUpdate field type as GeneralizedTime with a length of 13 ("240123000000Z") in the CRL.

To Reproduce:
Steps to reproduce the behavior:
```
import org.bouncycastle.jce.provider.BouncyCastleProvider;
import java.io.File;
import java.io.FileInputStream;
import java.io.InputStream;
import java.security.Security;
import java.security.cert.CertificateFactory;
import java.security.cert.X509CRL;
public class CrlParser {
    static {
        if (Security.getProvider("BC") == null) {
            Security.addProvider(new BouncyCastleProvider());
        }
    }
    public static X509CRL parse(File crlFile) throws Exception {
        try (InputStream in = new FileInputStream(crlFile)) {
            CertificateFactory factory = CertificateFactory.getInstance("X.509", "BC");
            return (X509CRL) factory.generateCRL(in);
        }
    }
    public static void main(String[] args) {
        if (args.length < 1) {
            System.out.println("java -cp <classpath> CrlParser <CRLpath>");
            return;
        }
        try {
            File file = new File(args[0]);
            X509CRL crl = parse(file);
            System.out.println(crl); 
        } catch (Exception e) {
            e.printStackTrace();
        }
    }
}
```

javac -cp "bcprov-jdk18on-1.78.jar:bcpkix-jdk18on-1.78.jar" CrlParser.java
java -cp ".:bcprov-jdk18on-1.78.jar:bcpkix-jdk18on-1.78.jar" CrlParser crl.der

Expected behavior:
It should be rejected.

[crl.zip](https://github.com/user-attachments/files/28831337/crl.zip)

This is largely a duplicate of  #1973, #2040 The fix for it is already published on https://www.bouncycastle.org/betas